Auxiliar/Estoque-Colaboradores.json
[
    {
        "id": "7d5d1de065a50659",
        "type": "tab",
        "label": "Estoque - Colaboradores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "751c3f130fe98246",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/todaspessoas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "a0f8c82d3627d5c8"
            ]
        ]
    },
    {
        "id": "0afd9a2b152e6c1b",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "f6273bef4fb21140",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "a0f8c82d3627d5c8",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 10",
        "func": "msg.topic = \"SELECT * FROM pessoa\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "531ffdfb3eaba843"
            ]
        ]
    },
    {
        "id": "531ffdfb3eaba843",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 60,
        "wires": [
            [
                "0afd9a2b152e6c1b",
                "f6273bef4fb21140"
            ]
        ]
    },
    {
        "id": "a2e8aa4caa54f7a9",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/tiposcolab",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "d0838a05a020c0ab"
            ]
        ]
    },
    {
        "id": "95f9e21dea1e710f",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "22ae4e912ea25f17",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "d0838a05a020c0ab",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 11",
        "func": "msg.topic = \"SELECT * FROM tipopessoa\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "4329441b7c326064"
            ]
        ]
    },
    {
        "id": "4329441b7c326064",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 160,
        "wires": [
            [
                "95f9e21dea1e710f",
                "22ae4e912ea25f17"
            ]
        ]
    },
    {
        "id": "cdeb52cea203022b",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/novocolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "40c90fc412346567"
            ]
        ]
    },
    {
        "id": "2d64fe154e714d51",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 260,
        "wires": []
    },
    {
        "id": "36b0493824f3601b",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "40c90fc412346567",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 12",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst s_nome_usuario = msg.payload.s_nome_pessoa\nconst s_email_pessoa = msg.payload.s_email_pessoa\nconst s_senha_pessoa = msg.payload.s_senha_pessoa\nconst n_primacess_pessoa = msg.payload.n_primacess_pessoa\nconst n_id_tipousuario = msg.payload.n_id_tipopessoa\nconst c_status_usuario = msg.payload.c_status_pessoa\nconst s_foto_usuario = msg.payload.s_foto_pessoa\n\nmsg.numtelefones = msg.payload.numtelefones\n\nmsg.topic = `INSERT INTO pessoa (n_id_pessoa, s_nome_pessoa, s_email_pessoa, s_senha_pessoa, n_primacess_pessoa, n_id_tipopessoa, c_status_pessoa, s_foto_pessoa) \nVALUES(NULL, \"${s_nome_usuario}\", \"${s_email_pessoa}\", \"${s_senha_pessoa}\", ${n_primacess_pessoa}, ${n_id_tipousuario}, \"${c_status_usuario}\", \"${s_foto_usuario}\")`\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "837783208bd9d54d"
            ]
        ]
    },
    {
        "id": "837783208bd9d54d",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "46fc8cfc055e805e",
                "36b0493824f3601b"
            ]
        ]
    },
    {
        "id": "77cb89c33aa6acaf",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 13",
        "func": "let n_id_pessoa = msg.payload.insertId\nlet numtelefones = msg.numtelefones\n\nlet numtelefones_montado = \"\"\nnumtelefones.forEach(f => {\n    numtelefones_montado += `,(NULL, ${n_id_pessoa}, \"${f}\")`\n});\nnumtelefones_montado = numtelefones_montado.substring(1)\n\nmsg.topic = `INSERT INTO contato (n_id_contato, n_id_pessoa, s_telefone_contato) VALUES ${numtelefones_montado}`\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 280,
        "wires": [
            [
                "a1c160fb62c7478f"
            ]
        ]
    },
    {
        "id": "a1c160fb62c7478f",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "2d64fe154e714d51",
                "36b0493824f3601b"
            ]
        ]
    },
    {
        "id": "2ec648c085792888",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/dadoscolab/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "2558d34edc42e5c2"
            ]
        ]
    },
    {
        "id": "d6e52af501296154",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "6ef1b452ad44b4df",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "2558d34edc42e5c2",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 14",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM pessoa WHERE n_id_pessoa = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "e7d0b348de7ae861"
            ]
        ]
    },
    {
        "id": "e7d0b348de7ae861",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "d6e52af501296154",
                "6ef1b452ad44b4df"
            ]
        ]
    },
    {
        "id": "0d41453c6d26493e",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/fonescolab/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "f6f9b2e855956363"
            ]
        ]
    },
    {
        "id": "c55efbd03750acbb",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7a9b2628f4faded",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6f9b2e855956363",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 15",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM contato WHERE n_id_pessoa = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "814cd4c8bb133570",
                "e7a9b2628f4faded"
            ]
        ]
    },
    {
        "id": "814cd4c8bb133570",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "c55efbd03750acbb",
                "e7a9b2628f4faded"
            ]
        ]
    },
    {
        "id": "46fc8cfc055e805e",
        "type": "switch",
        "z": "7d5d1de065a50659",
        "name": "",
        "property": "numtelefones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "2d64fe154e714d51"
            ],
            [
                "77cb89c33aa6acaf"
            ]
        ]
    },
    {
        "id": "f5fb77d537f50ad0",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/editarcolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "b9058c084c146466"
            ]
        ]
    },
    {
        "id": "5af0e972b5301820",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 540,
        "wires": []
    },
    {
        "id": "32ec29e9be0e64ba",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "b9058c084c146466",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 16",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_id_usuario = msg.payload.n_id_pessoa\nconst s_nome_usuario = msg.payload.s_nome_pessoa\nconst n_id_tipousuario = msg.payload.n_id_tipopessoa\nconst c_status_usuario = msg.payload.c_status_pessoa\nconst s_foto_usuario = msg.payload.s_foto_pessoa\n\nmsg.n_id_pessoa = msg.payload.n_id_pessoa\nmsg.numtelefones = msg.payload.numtelefones\n\nmsg.topic = `UPDATE pessoa SET s_nome_pessoa = \"${s_nome_usuario}\", n_id_tipopessoa = ${n_id_tipousuario}, c_status_pessoa = \"${c_status_usuario}\", s_foto_pessoa = \"${s_foto_usuario}\" WHERE n_id_pessoa = ${n_id_usuario}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "1b42d855c8f012fc",
                "32ec29e9be0e64ba"
            ]
        ]
    },
    {
        "id": "1b42d855c8f012fc",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "59ace7d4431d1842"
            ]
        ]
    },
    {
        "id": "1490e7bc45795cc8",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 17",
        "func": "let n_id_pessoa = msg.n_id_pessoa\nlet numtelefones = msg.numtelefones\n\nlet numtelefones_montado = \"\"\nnumtelefones.forEach(f => {\n    numtelefones_montado += `,(NULL, ${n_id_pessoa}, \"${f}\")`\n});\nnumtelefones_montado = numtelefones_montado.substring(1)\n\nmsg.topic = `INSERT INTO contato (n_id_contato, n_id_pessoa, s_telefone_contato) VALUES ${numtelefones_montado}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 500,
        "wires": [
            [
                "981b604869a04af1",
                "32ec29e9be0e64ba"
            ]
        ]
    },
    {
        "id": "981b604869a04af1",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "5af0e972b5301820"
            ]
        ]
    },
    {
        "id": "59ace7d4431d1842",
        "type": "switch",
        "z": "7d5d1de065a50659",
        "name": "",
        "property": "numtelefones.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "1490e7bc45795cc8"
            ],
            [
                "5af0e972b5301820"
            ]
        ]
    },
    {
        "id": "5b2870489dfd44eb",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/delfone/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 600,
        "wires": [
            [
                "fa42210cd6da90cd"
            ]
        ]
    },
    {
        "id": "e6ab417c5b5cd3ca",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "714e70793604bbc5",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "fa42210cd6da90cd",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 18",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `DELETE FROM contato WHERE n_id_contato = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "a409b3f5d4144954"
            ]
        ]
    },
    {
        "id": "a409b3f5d4144954",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "e6ab417c5b5cd3ca",
                "714e70793604bbc5"
            ]
        ]
    },
    {
        "id": "faf1c57f7926cf4c",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/mudarStatusColab/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "7a676236b7231d4d"
            ]
        ]
    },
    {
        "id": "35b97fb88ce01815",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "0d53736d3eeb83ec",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "7a676236b7231d4d",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 19",
        "func": "const n_id_usuario = msg.req.params.id\nconst c_status_usuario = msg.req.params.status\n\nmsg.topic = `UPDATE pessoa SET c_status_pessoa = \"${c_status_usuario}\" WHERE n_id_pessoa = ${n_id_usuario}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "e95fae6c2b64d30e"
            ]
        ]
    },
    {
        "id": "e95fae6c2b64d30e",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "35b97fb88ce01815",
                "0d53736d3eeb83ec"
            ]
        ]
    },
    {
        "id": "3f9047c01c4544db",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/pesquisarColab/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "368d2ff9f2439aeb"
            ]
        ]
    },
    {
        "id": "a75f51900aecdd69",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "764118c5e12f3227",
        "type": "debug",
        "z": "7d5d1de065a50659",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 800,
        "wires": []
    },
    {
        "id": "368d2ff9f2439aeb",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 20",
        "func": "const tipo = msg.req.params.tipo\nconst valor = msg.req.params.valor\n\nlet query = null\n\nif(tipo == \"id\"){\n    query = `SELECT * FROM pessoa WHERE n_id_pessoa = ${valor}`\n}else{\n    query = `SELECT * FROM pessoa WHERE s_nome_pessoa LIKE \"%${valor}%\"`\n}\n\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "25806575afe6eca3"
            ]
        ]
    },
    {
        "id": "25806575afe6eca3",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 760,
        "wires": [
            [
                "a75f51900aecdd69",
                "764118c5e12f3227"
            ]
        ]
    },
    {
        "id": "8ced85fbdeb49dea",
        "type": "http in",
        "z": "7d5d1de065a50659",
        "name": "",
        "url": "/deletarcolab/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "0649534bc7ecd97d"
            ]
        ]
    },
    {
        "id": "a8f226617220928d",
        "type": "mysql",
        "z": "7d5d1de065a50659",
        "mydb": "32b2e03a456316e4",
        "name": "estoque",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "4ca8b597ea670bdd"
            ]
        ]
    },
    {
        "id": "4ca8b597ea670bdd",
        "type": "http response",
        "z": "7d5d1de065a50659",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "0649534bc7ecd97d",
        "type": "function",
        "z": "7d5d1de065a50659",
        "name": "function 34",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `DELETE FROM pessoa WHERE n_id_pessoa = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 840,
        "wires": [
            [
                "a8f226617220928d"
            ]
        ]
    },
    {
        "id": "32b2e03a456316e4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]