Auxiliar/Estoque-Token.json
[
    {
        "id": "1e23c683649a9d26",
        "type": "tab",
        "label": "Estoque - Token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acec6769d4000d06",
        "type": "http response",
        "z": "1e23c683649a9d26",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "371f67aa0e6c29e4",
        "type": "debug",
        "z": "1e23c683649a9d26",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "7627e2390610c620",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 49",
        "func": "const n_id_pessoa = msg.payload[0].n_id_pessoa\nconst t1 = Math.random().toString(16).substring(2)\nconst t2 = Math.random().toString(16).substring(2)\nconst t3 = Math.random().toString(16).substring(2)\nconst t4 = Math.random().toString(16).substring(2)\nconst s_token_token = t1 + t2 + t3 + t4\n\nconst ts = new Date().getTime() + (300000*1)\nconst s_validade_token = ts\n\nmsg.token = s_token_token\nmsg.s_validade_token = s_validade_token\nmsg.n_id_token = msg.payload[0].n_id_token \n\nmsg.topic = `INSERT INTO token (n_id_pessoa, s_token_token, s_validade_token) VALUES (${n_id_pessoa}, \"${s_token_token}\", \"${s_validade_token}\")`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "34882c1c150b4f5e"
            ]
        ]
    },
    {
        "id": "34882c1c150b4f5e",
        "type": "mysql",
        "z": "1e23c683649a9d26",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "1f84e1d08b1679e1"
            ]
        ]
    },
    {
        "id": "742ef06ed8df0c13",
        "type": "link in",
        "z": "1e23c683649a9d26",
        "name": "Entrada Token",
        "links": [
            "7d949fcdd927c99c"
        ],
        "x": 205,
        "y": 80,
        "wires": [
            [
                "7627e2390610c620"
            ]
        ]
    },
    {
        "id": "1f84e1d08b1679e1",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 50",
        "func": "msg.payload.retorno = 200\nmsg.payload.token = msg.token\nmsg.payload.n_id_token = msg.n_id_token \n\nmsg.payload.n_id_pessoa = msg.id\nmsg.payload.s_nome_pessoa = msg.s_nome_pessoa\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "acec6769d4000d06",
                "371f67aa0e6c29e4"
            ]
        ]
    },
    {
        "id": "9fecddb5b28d6fb4",
        "type": "http in",
        "z": "1e23c683649a9d26",
        "name": "",
        "url": "/verificarToken/:token",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e40b0d4f39e1db8a"
            ]
        ]
    },
    {
        "id": "e40b0d4f39e1db8a",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 51",
        "func": "const token = msg.req.params.token\n\nmsg.topic = `SELECT * FROM token WHERE s_token_token = \"${token}\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "3609e531e4adc547"
            ]
        ]
    },
    {
        "id": "3609e531e4adc547",
        "type": "mysql",
        "z": "1e23c683649a9d26",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "32ecccd70abcc596"
            ]
        ]
    },
    {
        "id": "32e1a7e2d2de73c0",
        "type": "http response",
        "z": "1e23c683649a9d26",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "5813848dc4ba2b16",
        "type": "debug",
        "z": "1e23c683649a9d26",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "32ecccd70abcc596",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 52",
        "func": "const tsAtual = new Date().getTime()\nif(tsAtual <= msg.payload[0].s_validade_token){\n    msg.payload[0].retorno = 200\n    msg.retorno = 200\n}else{\n    msg.payload[0].retorno = 401\n    msg.retorno = 401\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "aadcd42752def5fb"
            ]
        ]
    },
    {
        "id": "aadcd42752def5fb",
        "type": "switch",
        "z": "1e23c683649a9d26",
        "name": "",
        "property": "retorno",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "b3ea1e2ee35f58d5",
                "492903a67b7ed7f1"
            ],
            [
                "c23f644d09cfd1b9",
                "5813848dc4ba2b16"
            ]
        ]
    },
    {
        "id": "c23f644d09cfd1b9",
        "type": "http response",
        "z": "1e23c683649a9d26",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "af099c16f25eb2dc",
        "type": "debug",
        "z": "1e23c683649a9d26",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 140,
        "wires": []
    },
    {
        "id": "b3ea1e2ee35f58d5",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 53",
        "func": "const n_id_token = msg.payload[0].n_id_token\nconst ts = new Date().getTime() + (300000 * 1)\n\nmsg.topic = `UPDATE token SET s_validade_token = ${ts} WHERE n_id_token = \"${n_id_token}\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "0189083621096183"
            ]
        ]
    },
    {
        "id": "0189083621096183",
        "type": "mysql",
        "z": "1e23c683649a9d26",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "f77a9a5bcd116f98"
            ]
        ]
    },
    {
        "id": "492903a67b7ed7f1",
        "type": "debug",
        "z": "1e23c683649a9d26",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "f77a9a5bcd116f98",
        "type": "function",
        "z": "1e23c683649a9d26",
        "name": "function 54",
        "func": "\n//msg.payload[0].retorno = 200\nmsg.payload.retorno = 200\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "32e1a7e2d2de73c0",
                "af099c16f25eb2dc"
            ]
        ]
    },
    {
        "id": "32b2e03a456316e4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]