Estoque/Auxiliar/Estoque-Fornecedores.json
[
    {
        "id": "b4ee610dd6e9d0bc",
        "type": "tab",
        "label": "Estoque - Fornecedores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38ca1e5c48a3507d",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/todosfornecedores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "6d51e491d448ae28"
            ]
        ]
    },
    {
        "id": "893536d27c4e18cf",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "17a8be19dcc8cb56",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d51e491d448ae28",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 21",
        "func": "msg.topic = \"SELECT * FROM fornecedor\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 60,
        "wires": [
            [
                "f423eae9d0085075"
            ]
        ]
    },
    {
        "id": "f423eae9d0085075",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 60,
        "wires": [
            [
                "893536d27c4e18cf",
                "17a8be19dcc8cb56"
            ]
        ]
    },
    {
        "id": "e1d32c2a2afbcac6",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/mudarStatusForn/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "5df43b9f82789f17"
            ]
        ]
    },
    {
        "id": "99d72ed3bf9b8910",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "c335cadb90eb2a7f",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "5df43b9f82789f17",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 22",
        "func": "const n_id_fornecedor = msg.req.params.id\nconst c_status_fornecedor = msg.req.params.status\n\nmsg.topic = `UPDATE fornecedor SET c_status_fornecedor = \"${c_status_fornecedor}\" WHERE n_id_fornecedor = ${n_id_fornecedor}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "da26034767cccdef"
            ]
        ]
    },
    {
        "id": "da26034767cccdef",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "99d72ed3bf9b8910",
                "c335cadb90eb2a7f"
            ]
        ]
    },
    {
        "id": "a59daf337ef4dfda",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/tiposfornecedor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "1a15b0d9b12ff630"
            ]
        ]
    },
    {
        "id": "71e131da52aab9cf",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "622162f0b7555598",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "1a15b0d9b12ff630",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 23",
        "func": "msg.topic = \"SELECT * FROM tipopessoa\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "93a808c736649802"
            ]
        ]
    },
    {
        "id": "93a808c736649802",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "71e131da52aab9cf",
                "622162f0b7555598"
            ]
        ]
    },
    {
        "id": "94c6ad49800a2b7a",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/novoforn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "a3c9bb4a541218e9"
            ]
        ]
    },
    {
        "id": "5369eeddacfc38c2",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4ce763701c4bd46",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "a3c9bb4a541218e9",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 24",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst s_nome_usuario = msg.payload.s_desc_fornecedor\nconst c_status_usuario = msg.payload.c_status_fornecedor\nconst s_foto_usuario = msg.payload.s_foto_fornecedor\n\nmsg.listaContatos = msg.payload.listaContatos\n\nmsg.topic = `INSERT INTO fornecedor (n_id_fornecedor, s_desc_fornecedor, c_status_fornecedor, s_foto_fornecedor) VALUES(NULL, \"${s_nome_usuario}\", \"${c_status_usuario}\", \"${s_foto_usuario}\")`\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "31f7ca760a6b29e2"
            ]
        ]
    },
    {
        "id": "31f7ca760a6b29e2",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "c4ce763701c4bd46",
                "b2d670fd511b125f"
            ]
        ]
    },
    {
        "id": "47aa87ec6f2bc87a",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/editarforn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "13fc24f89727cd36"
            ]
        ]
    },
    {
        "id": "d7cbd68728f3911e",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "ba138f35b2e20d67",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "13fc24f89727cd36",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 26",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_id_usuario = msg.payload.n_id_fornecedor \nconst s_nome_usuario = msg.payload.s_desc_fornecedor\nconst c_status_usuario = msg.payload.c_status_fornecedor\nconst s_foto_usuario = msg.payload.s_foto_fornecedor\n\nmsg.topic = `UPDATE fornecedor SET s_desc_fornecedor = \"${s_nome_usuario}\", c_status_fornecedor = \"${c_status_usuario}\", s_foto_fornecedor = \"${s_foto_usuario}\" WHERE n_id_fornecedor = ${n_id_usuario}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "f59467d4e8ac88c0"
            ]
        ]
    },
    {
        "id": "f59467d4e8ac88c0",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "d7cbd68728f3911e",
                "ba138f35b2e20d67"
            ]
        ]
    },
    {
        "id": "6a81385bd0ca1473",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/dadosforn/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "ce9421299f84982c"
            ]
        ]
    },
    {
        "id": "84d2cf78f823e6c6",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "a4dd6eb8ce0ca46a",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "ce9421299f84982c",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 28",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM fornecedor WHERE n_id_fornecedor = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "c2a0abb38d2af7a4"
            ]
        ]
    },
    {
        "id": "c2a0abb38d2af7a4",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 560,
        "wires": [
            [
                "84d2cf78f823e6c6",
                "a4dd6eb8ce0ca46a"
            ]
        ]
    },
    {
        "id": "622b560754a78a24",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/pesquisarForn/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "bdabf54b1355bf6c"
            ]
        ]
    },
    {
        "id": "e6ce45ce398b24aa",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "fd5932ce14e7aa4f",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "bdabf54b1355bf6c",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 29",
        "func": "const tipo = msg.req.params.tipo\nconst valor = msg.req.params.valor\n\nlet query = null\n\nif(tipo == \"id\"){\n    query = `SELECT * FROM fornecedor WHERE n_id_fornecedor = ${valor}`\n}else{\n    query = `SELECT * FROM fornecedor WHERE s_desc_fornecedor LIKE \"%${valor}%\"`\n}\n\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "2ec695fbf0562627"
            ]
        ]
    },
    {
        "id": "2ec695fbf0562627",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 640,
        "wires": [
            [
                "e6ce45ce398b24aa",
                "fd5932ce14e7aa4f"
            ]
        ]
    },
    {
        "id": "0ce8596e751cf28a",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/todaspessoasForn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 740,
        "wires": [
            [
                "8983a606dc9be2a6"
            ]
        ]
    },
    {
        "id": "60ee2271423dfe14",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "5f173a7aa7119b0d",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "8983a606dc9be2a6",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 30",
        "func": "msg.topic = `SELECT n_id_pessoa, s_nome_pessoa FROM pessoa WHERE n_id_tipopessoa = 2 AND c_status_pessoa = \"A\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 740,
        "wires": [
            [
                "29119cfa8f4ebdf6"
            ]
        ]
    },
    {
        "id": "29119cfa8f4ebdf6",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 740,
        "wires": [
            [
                "60ee2271423dfe14",
                "5f173a7aa7119b0d"
            ]
        ]
    },
    {
        "id": "abf068c85351c3b0",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/retornaTelefone/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "60f2c9b8429f3492"
            ]
        ]
    },
    {
        "id": "77611a7c2002383a",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "9820edc0c649b241",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "60f2c9b8429f3492",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 31",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM contato WHERE n_id_pessoa = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 840,
        "wires": [
            [
                "daf4f24f11353f94"
            ]
        ]
    },
    {
        "id": "daf4f24f11353f94",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 840,
        "wires": [
            [
                "77611a7c2002383a",
                "9820edc0c649b241"
            ]
        ]
    },
    {
        "id": "e968bc60db1518eb",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/addContatoForn/:idcont/:idforn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "94aa5249250783b4"
            ]
        ]
    },
    {
        "id": "5186a6646dd4dbf3",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "b6ee3f2d5166f8a6",
        "type": "debug",
        "z": "b4ee610dd6e9d0bc",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 980,
        "wires": []
    },
    {
        "id": "94aa5249250783b4",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 32",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM contato WHERE n_id_pessoa = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 940,
        "wires": [
            [
                "40e02fd01c523fc8"
            ]
        ]
    },
    {
        "id": "40e02fd01c523fc8",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 660,
        "y": 940,
        "wires": [
            [
                "5186a6646dd4dbf3",
                "b6ee3f2d5166f8a6"
            ]
        ]
    },
    {
        "id": "b2d670fd511b125f",
        "type": "switch",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "property": "listaContatos",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 360,
        "wires": [
            [
                "5369eeddacfc38c2"
            ],
            [
                "2949822806532f7e"
            ]
        ]
    },
    {
        "id": "2949822806532f7e",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 33",
        "func": "let n_id_fornecedor = msg.payload.insertId\nlet listaContatos = msg.listaContatos\n\nlet listaContatos_montado = \"\"\nlistaContatos.forEach(f => {\n    listaContatos_montado += `,(NULL, ${n_id_fornecedor}, \"${f}\")`\n});\nlistaContatos_montado = listaContatos_montado.substring(1)\n\nmsg.topic = `INSERT INTO contatofornecedor (n_id_contatofornecedor , n_id_fornecedor, n_id_pessoa ) VALUES ${listaContatos_montado}`\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "c23ee13787e58dcb"
            ]
        ]
    },
    {
        "id": "c23ee13787e58dcb",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 1180,
        "y": 400,
        "wires": [
            [
                "5369eeddacfc38c2"
            ]
        ]
    },
    {
        "id": "0e24e331803820ed",
        "type": "http in",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "url": "/deletarforn/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 1040,
        "wires": [
            [
                "dbdfc180a0546d5e"
            ]
        ]
    },
    {
        "id": "588dbfb1737b5b5d",
        "type": "mysql",
        "z": "b4ee610dd6e9d0bc",
        "mydb": "32b2e03a456316e4",
        "name": "estoque",
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "483bce4c7324e223"
            ]
        ]
    },
    {
        "id": "483bce4c7324e223",
        "type": "http response",
        "z": "b4ee610dd6e9d0bc",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dbdfc180a0546d5e",
        "type": "function",
        "z": "b4ee610dd6e9d0bc",
        "name": "function 35",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `DELETE FROM fornecedor WHERE n_id_fornecedor = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "588dbfb1737b5b5d"
            ]
        ]
    },
    {
        "id": "32b2e03a456316e4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]