Estoque/Auxiliar/Estoque-Produtos.json
[
    {
        "id": "ee62e328c88afdea",
        "type": "tab",
        "label": "Estoque - Produtos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c349aa548db95b1",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/tiposproduto",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "50cb2a6334b4780f"
            ]
        ]
    },
    {
        "id": "d7b974aa80322ab9",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "c61d89e9cca8c1c8",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "50cb2a6334b4780f",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 36",
        "func": "msg.topic = \"SELECT * FROM tipoproduto\" \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 40,
        "wires": [
            [
                "4c9d6fc72d59f30e"
            ]
        ]
    },
    {
        "id": "4c9d6fc72d59f30e",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 40,
        "wires": [
            [
                "d7b974aa80322ab9",
                "c61d89e9cca8c1c8"
            ]
        ]
    },
    {
        "id": "0cc12aa760f93b09",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/fornproduto",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "5c0a0bdfee2967b6"
            ]
        ]
    },
    {
        "id": "14c744c3a0ba2839",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a0156d2f4bf3470",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "5c0a0bdfee2967b6",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 37",
        "func": "msg.topic = \"SELECT n_id_fornecedor, s_desc_fornecedor FROM fornecedor WHERE c_status_fornecedor = 'A'\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "33358de5c92664bb"
            ]
        ]
    },
    {
        "id": "33358de5c92664bb",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "14c744c3a0ba2839",
                "6a0156d2f4bf3470"
            ]
        ]
    },
    {
        "id": "90e7d5ae7100e0e5",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/novoprod",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "64ae712866558679"
            ]
        ]
    },
    {
        "id": "1f3d104e91582721",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "9081f489637f2d95",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "64ae712866558679",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 38",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_code_produto  = msg.payload.n_code_produto\nconst n_id_tipoproduto  = msg.payload.n_id_tipoproduto\nconst s_desc_produto = msg.payload.s_desc_produto\nconst n_id_fornecedor  = msg.payload.n_id_fornecedor \nconst n_qtde_produto  = msg.payload.n_qtde_produto \nconst c_status_produto  = msg.payload.c_status_produto \nconst s_foto_produto  = msg.payload.s_foto_produto\n\nmsg.topic = `INSERT INTO produto (n_code_produto, n_id_tipoproduto, s_desc_produto, n_id_fornecedor, n_qtde_produto, c_status_produto, s_foto_produto) VALUES(${n_code_produto}, ${n_id_tipoproduto}, \"${s_desc_produto}\", ${n_id_fornecedor}, ${n_qtde_produto}, \"${c_status_produto}\", \"${s_foto_produto}\")`\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "5adedcca22633505"
            ]
        ]
    },
    {
        "id": "5adedcca22633505",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "9081f489637f2d95",
                "1f3d104e91582721"
            ]
        ]
    },
    {
        "id": "9e740b80d4e4651e",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/todosprodutos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "ca61eccb56939504"
            ]
        ]
    },
    {
        "id": "f632167e1e0432fa",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "53d728c6138a64b6",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "ca61eccb56939504",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 39",
        "func": "msg.topic = \"SELECT * FROM produto\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "a39c1cad00591480"
            ]
        ]
    },
    {
        "id": "a39c1cad00591480",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "f632167e1e0432fa",
                "53d728c6138a64b6"
            ]
        ]
    },
    {
        "id": "ad2393384c35af19",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/mudarStatusProd/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "4322e537d0d2f69f"
            ]
        ]
    },
    {
        "id": "cc5a22a0eb1e3c48",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "d1a14a50eb96d17a",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "4322e537d0d2f69f",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 40",
        "func": "const n_code_produto = msg.req.params.id\nconst c_status_produto = msg.req.params.status\n\nmsg.topic = `UPDATE produto SET c_status_produto = \"${c_status_produto}\" WHERE n_code_produto = ${n_code_produto}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "1d57f6da0e7c012c"
            ]
        ]
    },
    {
        "id": "1d57f6da0e7c012c",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "cc5a22a0eb1e3c48",
                "d1a14a50eb96d17a"
            ]
        ]
    },
    {
        "id": "d0d89b527ec1837c",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/dadosprod/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "abec373fdd79d168"
            ]
        ]
    },
    {
        "id": "70db96338bfc5081",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "c727a7eaa68c96f7",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "abec373fdd79d168",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 41",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM produto WHERE n_code_produto = ${id}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "7d5388734be8da0a"
            ]
        ]
    },
    {
        "id": "7d5388734be8da0a",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "70db96338bfc5081",
                "c727a7eaa68c96f7"
            ]
        ]
    },
    {
        "id": "e6d65b3a906fc545",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/editarprod",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "1634e60f379519a9"
            ]
        ]
    },
    {
        "id": "8a42ed66368bcf49",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "997757f26894c286",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "1634e60f379519a9",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 42",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_code_produto  = msg.payload.n_code_produto\nconst n_id_tipoproduto  = msg.payload.n_id_tipoproduto\nconst s_desc_produto = msg.payload.s_desc_produto\nconst n_id_fornecedor  = msg.payload.n_id_fornecedor \nconst n_qtde_produto  = msg.payload.n_qtde_produto \nconst c_status_produto  = msg.payload.c_status_produto \nconst s_foto_produto  = msg.payload.s_foto_produto\n\nmsg.topic = `UPDATE produto SET n_id_tipoproduto = ${n_id_tipoproduto}, \ns_desc_produto = \"${s_desc_produto}\", n_id_fornecedor = ${n_id_fornecedor}, \nn_qtde_produto = ${n_qtde_produto}, c_status_produto = \"${c_status_produto}\", \ns_foto_produto = \"${s_foto_produto}\" WHERE n_code_produto = ${n_code_produto}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 640,
        "wires": [
            [
                "3ca3a04b4fc86c6e"
            ]
        ]
    },
    {
        "id": "3ca3a04b4fc86c6e",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "8a42ed66368bcf49",
                "997757f26894c286"
            ]
        ]
    },
    {
        "id": "d00e982e86adfdd6",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/pesquisarProd/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "0c23e4f2cf4835e3"
            ]
        ]
    },
    {
        "id": "0e8ee892e1b2ee06",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "055417677b92ff27",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 780,
        "wires": []
    },
    {
        "id": "0c23e4f2cf4835e3",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 43",
        "func": "const tipo = msg.req.params.tipo\nconst valor = msg.req.params.valor\n\nlet query = null\n\nif(tipo == \"id\"){\n    query = `SELECT * FROM produto WHERE n_code_produto = ${valor}`\n}else{\n    query = `SELECT * FROM produto WHERE s_desc_produto LIKE \"%${valor}%\"`\n}\n\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 740,
        "wires": [
            [
                "ae465b82a5d427e8"
            ]
        ]
    },
    {
        "id": "ae465b82a5d427e8",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 740,
        "wires": [
            [
                "0e8ee892e1b2ee06",
                "055417677b92ff27"
            ]
        ]
    },
    {
        "id": "5bcd99d45dfa7ea9",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/deletarprod/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "c6a40884ba810ea7"
            ]
        ]
    },
    {
        "id": "0c9690a2e62d055e",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "estoque",
        "x": 640,
        "y": 860,
        "wires": [
            [
                "57dcabb9e81c68da",
                "68601a6c34e85338"
            ]
        ]
    },
    {
        "id": "57dcabb9e81c68da",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "c6a40884ba810ea7",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 44",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `DELETE FROM produto WHERE n_code_produto = ${id}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "0c9690a2e62d055e"
            ]
        ]
    },
    {
        "id": "68601a6c34e85338",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 900,
        "wires": []
    },
    {
        "id": "5189db884bc6a440",
        "type": "http in",
        "z": "ee62e328c88afdea",
        "name": "",
        "url": "/editarMOVprod",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 960,
        "wires": [
            [
                "680a4f21e399fae2"
            ]
        ]
    },
    {
        "id": "1c6417d22dd0131f",
        "type": "http response",
        "z": "ee62e328c88afdea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "0fa72ce145db645d",
        "type": "debug",
        "z": "ee62e328c88afdea",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1000,
        "wires": []
    },
    {
        "id": "680a4f21e399fae2",
        "type": "function",
        "z": "ee62e328c88afdea",
        "name": "function 45",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_code_produto  = msg.payload.n_code_produto\nconst n_qtde_produto  = msg.payload.n_qtde_produto \n\nmsg.topic = `UPDATE produto SET n_qtde_produto = ${n_qtde_produto} WHERE n_code_produto = ${n_code_produto}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 960,
        "wires": [
            [
                "bca10fb75c2f5ce6"
            ]
        ]
    },
    {
        "id": "bca10fb75c2f5ce6",
        "type": "mysql",
        "z": "ee62e328c88afdea",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 640,
        "y": 960,
        "wires": [
            [
                "1c6417d22dd0131f",
                "0fa72ce145db645d"
            ]
        ]
    },
    {
        "id": "32b2e03a456316e4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]