Estoque/Auxiliar/Estoque-Login.json
[
    {
        "id": "23d2ffea439b9cda",
        "type": "tab",
        "label": "Estoque - Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "451a93e808e9e9a7",
        "type": "http in",
        "z": "23d2ffea439b9cda",
        "name": "",
        "url": "/login/:email/:senha",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4f85bd6859197cc6"
            ]
        ]
    },
    {
        "id": "424e265756ed1898",
        "type": "http response",
        "z": "23d2ffea439b9cda",
        "name": "",
        "statusCode": "210",
        "headers": {},
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "596f194cf57ceb18",
        "type": "debug",
        "z": "23d2ffea439b9cda",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "4f85bd6859197cc6",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "function 46",
        "func": "const email = msg.req.params.email\nmsg.senha_digitada = msg.req.params.senha\n\nmsg.topic = `SELECT n_id_pessoa, s_nome_pessoa, s_email_pessoa, s_senha_pessoa FROM pessoa WHERE s_email_pessoa = \"${email}\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "b52867db7ba517a4"
            ]
        ]
    },
    {
        "id": "b52867db7ba517a4",
        "type": "mysql",
        "z": "23d2ffea439b9cda",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "78063aa8d901bc7e"
            ]
        ]
    },
    {
        "id": "78063aa8d901bc7e",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "function 47",
        "func": "msg.senha = msg.payload[0].s_senha_pessoa\nmsg.id = msg.payload[0].n_id_pessoa \nmsg.s_nome_pessoa = msg.payload[0].s_nome_pessoa\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "72be6e54b3133f35"
            ]
        ]
    },
    {
        "id": "72be6e54b3133f35",
        "type": "switch",
        "z": "23d2ffea439b9cda",
        "name": "",
        "property": "senha",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "dca824af39948f75"
            ],
            [
                "a8477037e5e4ea51"
            ]
        ]
    },
    {
        "id": "a8477037e5e4ea51",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "Verificar Senha",
        "func": "msg.senha = msg.payload[0].s_senha_pessoa\n\n// if(msg.senha_digitada == senha){\n\n// }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "2f36bfb9e7909ac4"
            ]
        ]
    },
    {
        "id": "dca824af39948f75",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "Primeiro Acesso",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha = null\nmsg.s_senha_pessoa = null\nmsg.senha = null\n\nmsg.payload[0].retorno = 210\nmsg.retorno = 210\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "424e265756ed1898",
                "596f194cf57ceb18"
            ]
        ]
    },
    {
        "id": "2f36bfb9e7909ac4",
        "type": "switch",
        "z": "23d2ffea439b9cda",
        "name": "",
        "property": "senha",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "senha_digitada",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "senha_digitada",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "101c445a14bac527"
            ],
            [
                "eb79b46b024731c2"
            ]
        ]
    },
    {
        "id": "101c445a14bac527",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "Senha Correta",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha = null\nmsg.s_senha_pessoa = null\nmsg.senha = null\n\nmsg.payload[0].retorno = 200\nmsg.retorno = 200\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 200,
        "wires": [
            [
                "7d949fcdd927c99c"
            ]
        ]
    },
    {
        "id": "eb79b46b024731c2",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "Senha Errada",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha = null\nmsg.s_senha_pessoa = null\nmsg.senha = null\n\nmsg.payload[0].retorno = 209\nmsg.retorno = 209\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "d2cb2e671c2f1bb2",
                "d616249ac140db02"
            ]
        ]
    },
    {
        "id": "d2cb2e671c2f1bb2",
        "type": "http response",
        "z": "23d2ffea439b9cda",
        "name": "",
        "statusCode": "209",
        "headers": {},
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "d616249ac140db02",
        "type": "debug",
        "z": "23d2ffea439b9cda",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "3ded4fda53512523",
        "type": "http in",
        "z": "23d2ffea439b9cda",
        "name": "",
        "url": "/gravarsenha",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1fda94e8a93e8c15"
            ]
        ]
    },
    {
        "id": "d27fe6762cbe489f",
        "type": "http response",
        "z": "23d2ffea439b9cda",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "9418faa37796ee4f",
        "type": "debug",
        "z": "23d2ffea439b9cda",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "1fda94e8a93e8c15",
        "type": "function",
        "z": "23d2ffea439b9cda",
        "name": "function 48",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst n_id_pessoa = msg.payload.n_id_pessoa\nconst s_senha_pessoa = msg.payload.s_senha_pessoa\n\nmsg.topic = `UPDATE pessoa SET s_senha_pessoa = ${s_senha_pessoa} WHERE n_id_pessoa = ${n_id_pessoa}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "ca82339fe046aabd"
            ]
        ]
    },
    {
        "id": "ca82339fe046aabd",
        "type": "mysql",
        "z": "23d2ffea439b9cda",
        "mydb": "32b2e03a456316e4",
        "name": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "9418faa37796ee4f",
                "d27fe6762cbe489f"
            ]
        ]
    },
    {
        "id": "7d949fcdd927c99c",
        "type": "link out",
        "z": "23d2ffea439b9cda",
        "name": "Saida Token",
        "mode": "link",
        "links": [
            "742ef06ed8df0c13"
        ],
        "x": 1115,
        "y": 200,
        "wires": []
    },
    {
        "id": "32b2e03a456316e4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]